:root {
  --lightRed: hsl(356, 100%, 66%);
  --veryLightRed: hsl(355, 100%, 74%);
  --veryDarkBlue: hsl(208, 49%, 24%);
  --white: hsl(0, 0%, 100%);
  --grayishBlue: hsl(240, 2%, 79%);
  --veryDarkGrayishBlue: hsl(207, 13%, 34%);
  --veryDarkBlackBlue: hsl(240, 10%, 16%);
  --veryLightRed1: hsl(13, 100%, 72%);
  --lightRed2: hsl(353, 100%, 62%);
  --veryDarkGrayBlue: hsl(237, 17%, 21%);
  --veryDarkDesaturatedBlue: hsl(237, 23%, 32%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  color: var(--white);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, p {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: var(--white);
}

ul {
  list-style: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}
.container--px {
  padding-right: 24px;
  padding-left: 24px;
}

button,
.button {
  display: inline-block;
  width: 140px;
  padding: 15px 0;
  background-color: var(--white);
  text-align: center;
  color: var(--lightRed);
  border-radius: 25px;
  font-weight: bold;
  border: 1px solid var(--white);
  transition: all 0.3s ease-in-out;
}
button:hover,
.button:hover {
  color: var(--white);
  background-color: var(--veryLightRed);
  border: 1px solid var(--veryLightRed);
}
button--transparent,
.button--transparent {
  color: var(--white);
  background: transparent;
}
button--transparent:hover,
.button--transparent:hover {
  color: var(--lightRed);
  background-color: var(--white);
}

h2 {
  font-size: 25px;
  margin-bottom: 28px;
}
@media (min-width: 1024px) {
  h2 {
    font-size: 28px;
    margin-bottom: 35px;
  }
}

.header {
  position: absolute;
  width: 100%;
  z-index: 999;
}
.header .overlay {
  position: fixed;
  background-color: transparent;
  width: 100%;
  height: 100%;
  top: 127.47px;
  transform: scaleY(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: top;
}
.header .overlay.open {
  transform: scaleY(1);
}
.header .navbar {
  padding-top: 55px;
  padding-bottom: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .navbar__pages {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .navbar__logo {
  width: 82px;
}
@media (min-width: 1024px) {
  .header .navbar__logo {
    width: 102px;
    margin-right: 64px;
  }
}
.header .navbar__toggle {
  cursor: pointer;
}
.header .navbar__toggle .bar {
  width: 32px;
  height: 2px;
  background-color: white;
  display: block;
  transition: transform 0.3s ease-in-out;
}
.header .navbar__toggle .bar:not(:last-child) {
  margin-bottom: 5px;
}
.header .navbar__toggle.is-active .bar:nth-of-type(1) {
  transform: translateY(3px) rotate(45deg);
}
.header .navbar__toggle.is-active .bar:nth-of-type(2) {
  display: none;
}
.header .navbar__toggle.is-active .bar:nth-of-type(3) {
  transform: translateY(-4px) rotate(-45deg);
}
.header .navbar__links div {
  position: relative;
  display: inline-block;
}
.header .navbar__links div:not(:last-of-type) {
  margin-right: 32px;
}
.header .navbar__links div img {
  transition: transform 0.3s ease-in-out;
}
.header .navbar__links div:hover img {
  transform: rotate(180deg);
}
.header .navbar__links div::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--white);
  left: 0;
  bottom: -3px;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.header .navbar__links div:hover::before {
  transform: scaleX(1);
}
.header .navbar__link {
  position: relative;
  cursor: pointer;
}
.header .navbar__link:hover ul {
  visibility: visible;
}
.header .navbar__link ul {
  position: absolute;
  background-color: var(--white);
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.4);
  padding: 35px 24px;
  border-radius: 10px;
  margin-top: 4px;
  visibility: hidden;
  left: 50%;
  transform: translateX(-50%);
}
.header .navbar__link ul li:not(:last-child) {
  margin-bottom: 22px;
}
.header .navbar__link ul a {
  color: var(--veryDarkGrayishBlue);
  font-size: 14px;
  transition: font-size 0.2s ease-in-out;
}
.header .navbar__link ul a:hover {
  color: var(--veryDarkBlue);
  font-size: 16px;
}
.header .navbar__actions a:not(:last-of-type) {
  margin-right: 32px;
  position: relative;
}
.header .navbar__actions a:not(:last-of-type)::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--white);
  left: 0;
  bottom: -3px;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.header .navbar__actions a:not(:last-of-type):hover::before {
  transform: scaleX(1);
}
.header .navbar__mobile {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--white);
  width: calc(100% - 48px);
  padding: 32px 24px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  color: var(--veryDarkBlue);
}
.header .navbar__mobile .link {
  color: var(--veryDarkBlue);
  margin-bottom: 25px;
  display: block;
}
.header .navbar__mobile svg {
  stroke: var(--lightRed);
  transition: transform 0.3s ease-in-out;
}
.header .navbar__mobile .mobile__links.is-active svg {
  transform: rotate(180deg);
}
.header .navbar__mobile .mobile__links.is-active ul {
  display: block;
}
.header .navbar__mobile .mobile__links ul {
  margin-top: 20px;
  background-color: hsl(0deg, 0%, 95%);
  padding: 25px;
  display: none;
}
.header .navbar__mobile .mobile__links ul li {
  margin-bottom: 20px;
}
.header .navbar__mobile .mobile__links ul li:last-of-type {
  margin-bottom: 0px;
}
.header .navbar__mobile .mobile__links ul a {
  color: var(--veryDarkGrayishBlue);
}
.header .navbar__mobile .mobile__links:not(:last-child) {
  margin-bottom: 38px;
}
.header .navbar__mobile .mobile__links.border {
  position: relative;
  margin-bottom: 76px;
}
.header .navbar__mobile .mobile__links.border::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 0.5px;
  display: block;
  bottom: -38px;
  background-color: var(--veryDarkBlue);
}
.header .navbar__mobile .button {
  color: var(--white);
  background-image: linear-gradient(to right, hsl(13deg, 100%, 72%), hsl(353deg, 100%, 62%));
}
.header .menu-container {
  position: relative;
  transform: scaleY(0);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
}
.header .menu-container.open {
  transform: scaleY(1);
}

.hero {
  background-color: var(--lightRed);
  background-image: url("../images/bg-pattern-intro-mobile.svg");
  height: 600px;
  background-size: 341%;
  background-repeat: no-repeat;
  background-position: 36% 37%;
  border-bottom-left-radius: 100px;
}
@media (min-width: 1024px) {
  .hero {
    background-image: url("../images/bg-pattern-intro-desktop.svg");
    background-size: 207%;
    background-repeat: no-repeat;
    background-position: 26% 52%;
    border-bottom-left-radius: 150px;
  }
}
.hero__inner {
  position: relative;
  text-align: center;
  top: 205px;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 1024px) {
  .hero__inner {
    top: 240px;
  }
}
.hero__inner h1 {
  font-size: 35px;
  margin-bottom: 22px;
  line-height: 1.2;
  -webkit-animation: fadeInUp 0.5s ease both;
          animation: fadeInUp 0.5s ease both;
}
@media (min-width: 1024px) {
  .hero__inner h1 {
    font-size: 48px;
    margin-bottom: 24px;
  }
}
.hero__inner p {
  font-size: 18px;
  margin-bottom: 48px;
  -webkit-animation: fadeInUp 0.5s ease 0.2s both;
          animation: fadeInUp 0.5s ease 0.2s both;
}
@media (min-width: 1024px) {
  .hero__inner p {
    margin-bottom: 48px;
    font-size: 20px;
  }
}
.hero__inner .button {
  -webkit-animation: fadeInUp 0.5s ease 0.4s both;
          animation: fadeInUp 0.5s ease 0.4s both;
}
.hero__inner .button:not(:last-of-type) {
  margin-right: 16px;
}
.hero__cta {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature {
  color: var(--veryDarkGrayishBlue);
  padding-top: 105px;
  text-align: center;
  margin-bottom: 275px;
}
@media (min-width: 1024px) {
  .feature {
    padding-top: 155px;
    text-align: left;
  }
}
.feature h2 {
  color: var(--veryDarkBlue);
  font-size: 25px;
  margin-bottom: 28px;
}
@media (min-width: 1024px) {
  .feature h2 {
    font-size: 28px;
    margin-bottom: 35px;
  }
}
.feature h2.feature__intro {
  margin-bottom: 55px;
}
@media (min-width: 1024px) {
  .feature h2.feature__intro {
    font-size: 38px;
    margin-bottom: 110px;
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .feature__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
.feature__img {
  width: 100%;
  height: 100%;
  margin-bottom: 55px;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .feature__img {
    grid-column: 2/3;
    grid-row: 1/2;
    background: url("../images/illustration-editor-desktop.svg");
    width: 200%;
    height: 200%;
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.feature__img img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
}
.feature__text {
  line-height: 1.5;
}
@media (min-width: 1024px) {
  .feature__text {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.feature__text div {
  margin-bottom: 55px;
}
@media (min-width: 1024px) {
  .feature__text div {
    margin-bottom: 85px;
  }
}

.showcase {
  background-image: linear-gradient(to bottom, hsl(237deg, 17%, 21%), hsl(237deg, 23%, 32%));
  position: relative;
  padding-bottom: 100px;
  text-align: center;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
}
@media (min-width: 1024px) {
  .showcase {
    padding: 0 0;
    text-align: left;
  }
}
.showcase__container {
  background-image: url("../images/bg-pattern-circles.svg");
  background-size: 75%;
  background-position: 50% 130%;
  background-repeat: no-repeat;
}
@media (min-width: 1024px) {
  .showcase__container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    background-size: 60%;
    background-position: 10% 50%;
    background-repeat: no-repeat;
  }
}
.showcase__img {
  width: 100%;
  height: 100%;
  margin-bottom: 55px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-160px);
}
@media (min-width: 1024px) {
  .showcase__img {
    position: absolute;
    left: -25px;
    top: -85px;
    width: 65%;
    height: 140%;
    margin-bottom: 0;
    transform: translateX(0);
  }
}
.showcase__img img {
  width: 105%;
  max-width: 360px;
}
@media (min-width: 1024px) {
  .showcase__img img {
    width: 100%;
    max-width: 545px;
  }
}
.showcase__text {
  line-height: 1.5;
}
@media (min-width: 1024px) {
  .showcase__text {
    padding: 110px 0;
    grid-column: 2/3;
  }
}
.showcase__text h2 {
  font-size: 35px;
  padding-top: 180px;
}
@media (min-width: 1024px) {
  .showcase__text h2 {
    padding: 0;
  }
}

.copy {
  color: var(--veryDarkGrayishBlue);
  padding-top: 105px;
  text-align: center;
  margin-bottom: 100px;
}
@media (min-width: 1024px) {
  .copy {
    padding-top: 155px;
    text-align: left;
    margin-top: 55px;
    margin-bottom: 275px;
  }
}
.copy h2 {
  color: var(--veryDarkBlue);
  font-size: 25px;
  margin-bottom: 28px;
}
@media (min-width: 1024px) {
  .copy h2 {
    font-size: 28px;
    margin-bottom: 35px;
  }
}
@media (min-width: 1024px) {
  .copy__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
.copy__img {
  width: 100%;
  height: 100%;
  margin-bottom: 55px;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .copy__img {
    position: relative;
    left: -500px;
    top: 50px;
    z-index: -1;
    background: url("../images/illustration-laptop-desktop.svg");
    width: 200%;
    height: 200%;
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.copy__img img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
}
.copy__text {
  line-height: 1.5;
}
.copy__text div {
  margin-bottom: 55px;
}
@media (min-width: 1024px) {
  .copy__text div {
    margin-bottom: 85px;
  }
}

.footer {
  background-color: var(--veryDarkBlackBlue);
  border-top-right-radius: 100px;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 22px;
}
@media (min-width: 1024px) {
  .footer {
    border-top-right-radius: 150px;
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .footer__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
  }
}
.footer__logo {
  margin-bottom: 80px;
}
.footer__block h3 {
  margin-bottom: 40px;
}
.footer__block ul {
  margin-bottom: 58px;
}
.footer__block ul a {
  color: hsl(240deg, 2%, 79%);
}
.footer__block ul li {
  margin-bottom: 18px;
}
.footer__block ul a:hover {
  text-decoration: underline;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (min-width: 1024px) {
  .hide-for-desktop {
    display: none;
  }
}
@media (max-width: 1023.98px) {
  .hide-for-mobile {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */